<% include header.ejs %>

<div class="container">
<div class="row">
<h1 style="text-align:center;">New Grade</h1>
<div style="width:30%; margin: auto;">
<form action="/grade/add" method="POST">
       
<div class="form-group">
        <select class="form-control" name="assnID">
                 <% if( assns.length> 0) { %>
                                        <% assns.forEach((assn,index)=>{ %>
                        <option value=<%= assn.assignmentID %> > <%=assn.assignmentName %>   </option>
                        <% }) %>
                <% } else { %>
                        <option disabled="true">Assignment</option>
			<p>You need to add an Assignment first.</p>
                <% } %>
        </select>
        </div>
        <div class="form-group">
	<input type="hidden" name="ID" value=<%=ID%>>
        <input class="form-control" type="text" name="grade" placeholder="Grade">
        </div>
        <button class="btn btn-block btn-lg btn-primary">Submit.</button>
</form>
        <a href="/">Go Back</a>
</div>
</div>
</div>

