<% include header.ejs %>

<div class="container">
<div class="row">
<h1 style="text-align:center;">Edit Record</h1>
<div style="width:30%; margin: auto;">

<form action="/user/edit/<%=ID %>?_method=PUT" method="POST">
        <div class="form-group">
        <input class="form-control" type="text" name="userName" placeholder="Name" value="<%=users[0].name %>">
        <input class="form-control" type="text" name="userEmail" placeholder="Email" value="<%=users[0].email %>">
        <input class="form-control" type="password" name="userPassword" placeholder="Password">
        </div>
        <button class="btn btn-block btn-lg btn-primary">Submit.</button>
</form>
        <a href="/">Go Back</a>
</div>
</div>
</div>
