<% include header.ejs %>

<div class="container">
<div class="row">
<h1 style="text-align:center;">Edit Record</h1>
<div style="width:30%; margin: auto;">

<form action="/course/edit/<%=ID %>?_method=PUT" method="POST">
        <div class="form-group">
        <input class="form-control" type="text" name="courseName" placeholder="Course Name" value="<%=users[0].courseName %>">
        <input class="form-control" type="text" name="year" placeholder="Year" value="<%=users[0].year %>">
        <input class="form-control" type="text" name="semester" placeholder="Semester" value="<%=users[0].semester %>">
        </div>
        <button class="btn btn-block btn-lg btn-primary">Submit.</button>
</form>
        <a href="/">Go Back</a>
</div>
</div>
</div>
