<% include header.ejs %>

<h1>Login</h1>
<form action="/login" method="post">
        <input type="text" name="email" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Sign In</button>
</form>
